<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
   <p>I was always fascinated by security since I was a kid but I lack the path. Fast forward to 2017, two of my friends gave me a little push on what to do. Well, that helped me a lot and after that I started learning <b>Python</b> and other languages in order to develop some </b><i>advanced</i> projects. In the meantime, I started with <b>C</b>, some introduction to web development with <b>Python's Flask</b> and <b>Javascript</b>. </p>

   <p>Back in 2018, I started playing <b>CTFs</b> with <b>OpenToAll</b>. From there I started to learn different aspects like network securty, cryptography, forensics and other stuffs. After that I started doing <b>OverTheWire</b> or <b>Vulnhub</b> or <b>Hack The Box</b>. I started doing this in May 2019 with collaboration of Mehtab Zaffar who is also a CTF player of <b>OpenToAll</b>. </p>

   <p>This blog is the medium through which I will share my experiences with all infosec related stuffs. I started <b>binary exploitation</b> and <b>reverse engineering</b> few weeks ago.  </p>
</div>
